*{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
body{
    max-width: 100%;
    min-width: 350px;  /* need change */
    background: hsl(0, 0%, 100%);
    margin:auto ;
}
.main{
    padding:1rem 0;
    color: hsl(229, 6%, 66%); 
    }

header{
    margin: 1.5rem;
    padding: 0;
    text-align: center;
}
h2{
    color:hsl(234, 12%, 34%);
    margin: 5px;
    font-weight: 600;
}
.trust{
    font-size:1.3rem;
    font-weight: 400;
}
.bio{
    padding:0 33%;
    font-size:15px;
}
.content{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto ;
}
.ads{
    padding: 1rem;
    font-size:1vw;
    width: 20vw;
    height:12vw ;
    margin: .7rem;
    box-shadow: 2px 10px 15px 5px hsl(0, 0%, 95%); 
    border-radius: .2rem;
}
img{
    width: 13%;
    position: relative;
    right:-78%;
    bottom:-3vw;
}
.karma{
    grid-area: 2/2;
    border-top: 3px solid hsl(34, 97%, 64%);
}

.supervisor{
    position: relative;
    top:7rem;
    border-top: 3px solid hsl(180, 62%, 55%);
}

.team{
    border-top: 3px solid hsl(0, 78%, 62%);
}

.calc{
    grid-area: 2/3;
    position: relative;
    top:-6.5rem;
    border-top: 3px solid hsl(212, 86%, 64%);
}
